@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* Shared style */
.primary-btn {
  background-color: #FEA301;
  color: white;
  width: 197px;
  height: 50px;
  border-style: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 500;
}

.primary-btn:hover {
  background-color: #008000;
  transform: scale(1.07);
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 0px 0px 30px #008000b2;
}


/* Navbar Style */
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  gap: 186px;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 11px;
}

.nav-logo h1 {
  font-size: 32px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 32px;
  font-size: 20px;
}

.nav-links a {
  text-decoration: none;
}

.home a {
  color: #FEA301;
  font-weight: bold;
}

.about a {
  color: #01ACFD;
  font-weight: 500;
}

.facilities a {
  color: #05D4DF;
  font-weight: 500;
}

.admission a {
  color: #5D58EF;
  font-weight: 500;
}

.hamburger-logo {
  display: none;
  width: auto;
}


/* Banner style */

#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

}

.banner-title-container {
  width: 640px;
}

.banner-title-container h1 {
  font-size: 56px;
  font-weight: 700;
  max-width: 550px;
}

.banner-title-container p {
  font-size: 20px;
  padding: 24px 0px;
}

.empowering {
  color: #FEA301;
}

.towards-vision {
  color: #01ACFD;
}

.banner-btn {
  background-color: black;
}



/* Standard Curriculum style */

#standard-curriculum {
  background-image: url("assets/bg.png");
  max-width: 1440px;
  margin: 0% auto;
  background-repeat: no-repeat;
  padding: 60px 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

#standard-curriculum h2 {
  font-size: 46px;
  font-weight: 700;
}

#standard-curriculum p {
  color: #808080;
}

.curriculum-container {
  display: flex;
  gap: 28px;
}

.curriculum-container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 33px;
  border-radius: 18px;
  padding: 53px 40px;
  box-shadow: 0px 0px 40px #00000010;
  max-width: 367px;
}

.curriculum-container .card .h6 {
  text-decoration: none;
}

.curriculum-container .card-1 {
  background-image: linear-gradient(180deg, #DEF5FF, #ffffff 30%);
  border: 1px solid #DEF5FF;
}

.curriculum-container .card-1 .h6 {
  color: #64C8FF;
}

.curriculum-container .card-2 {
  background-image: linear-gradient(180deg, #FFF4DC, #ffffff 30%);
  border: 1px solid #FFF4DC;
}

.curriculum-container .card-2 .h6 {
  color: #F0AA00;
}

.curriculum-container .card-3 {
  background-image: linear-gradient(180deg, #F2E8FF, #ffffff 30%);
  border: 1px solid #F2E8FF;
}

.curriculum-container .card-3 .h6 {
  color: #8700FF;
}

.curriculum-arrow-container {
  display: flex;
  gap: 10px;
}
.curriculum-arrow-container img{
  border-radius: 50%;
}
.curriculum-arrow-container img:hover {
  transform: scale(1.07);
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 0px 0px 30px #fea101be;
}


/* Responsive Style */

@media screen and (max-width:576px) {

  /* Navbar Style */
  #navbar {
    gap: 0px;
    border: 1px solid #FEA301;
    padding: 12px 16px;
  }

  .contact-btn,
  .nav-logo h1,
  .nav-links {
    display: none;
  }

  .nav-logo {
    gap: 282px;
  }

  .hamburger-logo {
    display: block;
  }


  /* Banner style */

  #banner {
    flex-direction: column-reverse;
    margin: 0px 16px;
    padding: 20px 0px;
    gap: 20px;
  }

  .banner-img img {
    width: 100%;
  }

  .banner-title-container {
    width: auto;
    text-align: center;
  }

  .banner-title-container h1 {
    width: auto;
    font-size: 32px;
    margin: 0px 20px;
  }

  .banner-title-container p {
    font-size: 14px;
    padding: 18px 0px;
  }



  /* Standard Curriculum style */
  #standard-curriculum {
    padding: 40px 10px;
    flex-direction: column;
    gap: 20px;
    object-fit: cover;
  }

  #standard-curriculum h2 {
    font-size: 26px;
  }

  .curriculum-container .card {
    padding: 36px 28px;
    gap: 22px;
  }

  .curriculum-container {
    flex-direction: column;
    gap: 12px;
  }

  .curriculum-arrow-container {
    display: none;
  }
}